{% extends 'ex00/base.html' %}

{% block content %}
{% if user.is_authenticated %}
	hello {{request.user.username}}
	<nav>
    	<li><a href="{% url 'index:logout' %}">Logout</a></li>
	</nav>
    <h1>Add a tip</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" ">ADD</button>
    </form>

{% else %}
	hello {{request.COOKIES.mycookie}}
	<nav>
	    <li><a href="{% url 'index:register' %}">register</a></li>
	    <li><a href="{% url 'index:login' %}">login</a></li>
	</nav>
{% endif %}

<h1>Tips</h1>
{% for i in post %}
	<p>user {{i.auteur}} created this tip at {{i.date}}</p>
	{{i.texte}}
{% endfor %}

{% endblock content %}
