{% extends 'ex00/base.html' %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

    <h1>Login</h1>
    <form method="post" action="{% url 'index:login' %}">{% csrf_token %}
<table>
<tr>{{ form.username.error }}</tr>
<tr>{{ form.username.label_tag }}</tr>
<tr>{{ form.username }}</tr>
<tr>{{ form.password.label_tag }}</tr>
<tr>{{ form.password }}</tr>
</table>
        <button type="submit" >Login</button>
    </form>

{% endblock content %}