{% extends 'titlescreen/base.html' %}
{% load static %} 
{% block content %}

<p>A - Load</p>
<p>B - Cancel</p>

{% if i == 0 %}
<img src="{% static 'titlescreen/arrow.png' %}" width=20px alt="selection" />
{% endif %}
{% if a == 0 %}
SLOT A empty <br />
{% else %}
SLOT A 0/10 <br />
{% endif %}

{% if i == 1 %}
<img src="{% static 'titlescreen/arrow.png' %}" width=20px alt="selection" />
{% endif %}
{% if b == 0%}
SLOT B empty<br />
{% else %}
SLOT B 0/10<br />
{% endif %}

{% if i == 2 %}
<img src="{% static 'titlescreen/arrow.png' %}" width=20px alt="selection" />
{% endif %}
{% if c == 0%}
SLOT C empty<br />
{% else %}
SLOT C 0/10<br />
{% endif %}



<a href="{% url 'option:upload' %}">up</a>
<a href="{% url 'option:download' %}">down</a>
<a href="{% url 'option:load' %}">A</a>
<a href="{% url 'titlescreen:titlescreen' %}">B</a>

{% endblock content %}
