<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{title}</title>
</head>
<body>
  ...
  <!-- {firstName} -->
  <!-- {lastName} -->
  <!-- {age} -->
  <!-- {prof} -->
  ...
</body>
</html>